

$('#std').change(
				function() {
					$('#sec').empty();
					$('#name').empty();
					$.getJSON("/getSecByStd", {
						std : $(this).val(),
						ajax : 'true'
					}, function(data) {
						var html = '<option value="">--Sec--</option>';
						var len = data.length;
						for (var i = 0; i < len; i++) {
							html += '<option value="' + data[i] + '">'
									+ data[i] + '</option>';
						}
						html += '</option>';
						$('#sec').html(html);
					});
				});
