<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="muzammil" />
<meta name="author" content="" />
<link rel="icon" href="favicon.ico" />

<title>Schools360</title>

<!-- Bootstrap core CSS -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
<link th:href="@{css/style.css}" rel="stylesheet" />
<link th:href="@{css/component.css}" rel="stylesheet" />
<link th:href="@{css/style_grid.css}" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- JQuery -->
<!--Import https://www.devbridge.com/sourcery/components/jquery-autocomplete/#-->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>


<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>
<!-- Compiled and minified JavaScript -->
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>

<!-- <script>
	$(document).ready(function() {

		$('#autocomplete-input').devbridgeAutocomplete({
			serviceUrl : '/suggestion',
			paramName : 'searchstr',
			minChars : 1,
			autoSelectFirst : true,
			transformResult : function(response) {

				return {
					//must convert json to javascript object before process
					suggestions : $.map($.parseJSON(response), function(item) {

						return {
							value : item.username
						};
					})

				};

			}

		});

	});
</script> -->

</head>

<body>

	<!-- banner -->
	<div class="wthree_agile_admin_info">
		<!-- /w3_agileits_top_nav-->
		<!-- /nav-->
		<div class="w3_agileits_top_nav">
			<ul id="gn-menu" class="gn-menu-main">
				<!-- /nav_agile_w3l -->
				<li class="gn-trigger"><a class="gn-icon gn-icon-menu"><i class="fa fa-bars" aria-hidden="true"></i><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller scrollbar1">
							<ul class="gn-menu agile_menu_drop">
								<li><a href="main-page.html"> <i class="fa fa-tachometer"></i> Dashboard
								</a></li>
								<li><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i> Cards <i class="fa fa-angle-down" aria-hidden="true"></i></a>
									<ul class="gn-submenu">
										<li class="mini_list_agile"><a href="buttons.html"><i class="fa fa-caret-right" aria-hidden="true"></i> Order Cards</a></li>
										<li class="mini_list_w3"><a href="grids.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Card Status
										</a></li>
									</ul></li>
								<li><a href="#"> <i class="fa fa-file-text-o" aria-hidden="true"></i>Forms <i class="fa fa-angle-down" aria-hidden="true"></i></a>
									<ul class="gn-submenu">
										<li class="mini_list_agile"><a href="input.html"><i class="fa fa-caret-right" aria-hidden="true"></i> Inputs</a></li>
										<li class="mini_list_w3"><a href="validation.html"><i class="fa fa-caret-right" aria-hidden="true"></i> Validation</a></li>
									</ul></li>
								<li><a href="table.html"> <i class="fa fa-table" aria-hidden="true"></i> Tables
								</a></li>
								<li><a href="#"><i class="fa fa-list" aria-hidden="true"></i>Short Codes <i class="fa fa-angle-down" aria-hidden="true"> </i></a>
									<ul class="gn-submenu">
										<li class="mini_list_agile"><a href="typo.html"><i class="fa fa-caret-right" aria-hidden="true"></i> Typography</a></li>
										<li class="mini_list_w3"><a href="icons.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Icons
										</a></li>

									</ul></li>

								<li><a href="charts.html"> <i class="fa fa-line-chart" aria-hidden="true"></i> Charts
								</a></li>
								<li><a href="maps.html"><i class="fa fa-map-o" aria-hidden="true"></i> Maps</a></li>
								<li class="page"><a href="#"><i class="fa fa-files-o" aria-hidden="true"></i> Pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
									<ul class="gn-submenu">

										<li class="mini_list_agile"><a href="signin.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Sign In
										</a></li>
										<li class="mini_list_w3"><a href="signup.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Sign Up
										</a></li>
										<li class="mini_list_agile error"><a href="404.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Error 404
										</a></li>

										<li class="mini_list_w3_line"><a href="calendar.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Calendar
										</a></li>
									</ul></li>
								<li><a href="#"> <i class="fa fa-suitcase" aria-hidden="true"></i>More <i class="fa fa-angle-down" aria-hidden="true"></i></a>
									<ul class="gn-submenu">
										<li class="mini_list_agile"><a href="faq.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Faq
										</a></li>
										<li class="mini_list_w3"><a href="blank.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Blank Page
										</a></li>
									</ul></li>
							</ul>
						</div>
						<!-- /gn-scroller -->
					</nav></li>
				<!-- //nav_agile_w3l -->
				<li class="second logo"><h1>
						<a href="main-page.html"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Schools360 </a>
					</h1></li>
				<li class="second admin-pic">
					<ul class="top_dp_agile">
						<li class="dropdown profile_details_drop"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<div class="profile_img">
									<span class="prfil-img"><img src="images/admin.jpg" alt=""> </span>
								</div>
						</a>
							<ul class="dropdown-menu drp-mnu">
								<li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
								<li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
								<li><a href="javascript: document.logoutForm.submit()"><i class="fa fa-sign-out"></i> Logout</a></li>
							</ul></li>

					</ul>
				</li>

				<li class="second full-screen">
					<section class="full-top">
						<button id="toggle">
							<i class="fa fa-arrows-alt" aria-hidden="true"></i>
						</button>
					</section>
				</li>

			</ul>
			<!-- //nav -->

		</div>
		<div class="clearfix"></div>
		<!-- //w3_agileits_top_nav-->
		<!-- /inner_content-->
		<div class="inner_content">
			<div class="container">
				<br>
				<div class="agile_info_shadow">
					<div class="alert alert-info">
						<h4>Collect Fee</h4>
					</div>
					<hr style="height: 1px; border: none; color: #333; background-color: #333;" />
					<form autocomplete="off" id="collectForm" th:action="@{/collectFee}" th:object="${collectFee}" method="post" class="m-t" role="form" data-toggle="validator">
						<div th:if="${configureMasterFee}" class="alert alert-danger" role="alert" th:text="${configureMasterFee}"></div>

						<div class="row">
							<div class="col-md-4">
								<!-- Name 
								<div class="form-group">
									<input type="text" id="autocomplete-input" placeholder="Name" class="form-control" />
								</div>
								<p>-----OR-----</p>-->
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">Here you Go!</h3>

									</div>
									<div class="panel-body">
										<div class="form-group">
											<label for="std">Class</label> <select class="form-control" required="required" th:field="*{std}" name="std" id="std">
												<option th:value="NA" selected="selected">-- select std --</option>
												<option th:each="dropDownItem : ${standards}" th:value="${dropDownItem.key}" th:text="${dropDownItem.value}" />
											</select>
										</div>

										<div class="form-group">
											<label for="section">Sec</label> <select class="form-control" th:field="*{sec}" name="sec" id="sec">
												<option th:value="NA" disabled="disabled" selected="selected">--select sec--</option>
											</select>
										</div>
										<div class="form-group">
											<label for="location">Name</label> <select class="form-control" th:field="*{studentId_Name}" name="studentId_Name" id="name">
												<option th:value="NA" disabled="disabled" selected="selected">--select name --</option>
											</select>
										</div>

										<div class="form-group">
											<button id="populate" type="submit" name="action" value="Populate" class="btn btn-primary block full-width m-b">Submit</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-8" id="rightContent" th:if="${collectFee.feeType!=null}">
								<input id="reloadDecider" type="hidden" th:value="${collectFee.feeType}" />

								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">Fee History</h3>

									</div>
									<div class="panel-body">
										<table class="table table-sm">
											<thead>
												<tr class="table-secondary">
													<th>Fee type</th>
													<th>Total</th>
													<th>Paid</th>
													<th>Balance</th>
													<th>Status</th>
													<th>Collect Fee for</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Admission</td>
													<td th:text="${collectFee.admissionFeeTotal!= null} ? ${collectFee.admissionFeeTotal} : '0.00'"></td>
													<td th:text="${collectFee.admissionPaidTotal!= null} ? ${collectFee.admissionPaidTotal} : '0.00'"></td>
													<td th:text="${collectFee.collectAdmissionFeeForm!= null} ? ${collectFee.collectAdmissionFeeForm.balance} : '0.00'"></td>
													<td th:text="${collectFee.collectAdmissionFeeForm!= null} ? ${collectFee.collectAdmissionFeeForm.status} : 'NA'"></td>
													<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalForAdmission">Collect</button></td>

												</tr>
												<tr th:if="${collectFee.feeType=='T'}">
													<td>Term 1</td>
													<td th:text="${collectFee.termFee.term1}"></td>
													<td th:text="${collectFee.totalTerm1FeePaid!= null} ? ${collectFee.totalTerm1FeePaid} : '0.00'"></td>
													<td th:text="${collectFee.collectTermFeeForm!= null} ? ${collectFee.collectTermFeeForm.term1Balance}:'0.00'"></td>
													<td th:text="${collectFee.collectTermFeeForm!= null} ? ${collectFee.collectTermFeeForm.term1Status}:'NA'"></td>
													<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalForTerm1">Collect</button></td>
												</tr>
												<tr th:if="${collectFee.feeType=='T'}">
													<td>Term 2</td>
													<td th:text="${collectFee.termFee.term2}"></td>
													<td th:text="${collectFee.totalTerm2FeePaid!= null} ? ${collectFee.totalTerm2FeePaid} : '0.00'"></td>
													<td th:text="${collectFee.collectTermFeeForm!= null} ? ${collectFee.collectTermFeeForm.term2Balance}:'0.00'"></td>
													<td th:text="${collectFee.collectTermFeeForm!= null} ? ${collectFee.collectTermFeeForm.term2Status}:'NA'"></td>
													<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalForTerm2">Collect</button></td>
												</tr>
												<tr th:if="${collectFee.feeType=='T'}">
													<td>Term 3</td>
													<td th:text="${collectFee.termFee.term3}"></td>
													<td th:text="${collectFee.totalTerm3FeePaid!= null} ? ${collectFee.totalTerm3FeePaid} : '0.00'"></td>
													<td th:text="${collectFee.collectTermFeeForm!= null} ? ${collectFee.collectTermFeeForm.term3Balance}:'0.00'"></td>
													<td th:text="${collectFee.collectTermFeeForm!= null} ? ${collectFee.collectTermFeeForm.term3Status}:'NA'"></td>
													<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalForTerm3">Collect</button></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>

								<!-- Modal for admission -->
								<div class="modal fade" id="modalForAdmission" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<!-- Modal Header -->
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
												</button>
												<h4 class="modal-title" id="myModalLabel">Collect Admission Fee</h4>
												<h6>
													For <span th:text="${collectFee.collectAdmissionFeeForm.name}"></span> studying in class <span th:text="${collectFee.collectAdmissionFeeForm.std}"></span> and section <span th:text="${collectFee.collectAdmissionFeeForm.sec}"></span>
												</h6>
												<input type="hidden" th:value="${collectFee.collectAdmissionFeeForm.name}" name="Cname" /> <input type="hidden" th:value="${collectFee.collectAdmissionFeeForm.std}" name="Cstd" /> <input type="hidden"
													th:value="${collectFee.collectAdmissionFeeForm.sec}" name="Csec" />

											</div>

											<!-- Modal Body Starts-->
											<div class="modal-body">
												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label for="tuitionFee"><b>Tuition</b></label> <input type="number" step="0.01" th:field="*{collectAdmissionFeeForm.tuitionFee}" th:max="*{collectAdmissionFeeForm.tuitionFee}" th:min="0" class="form-control"
																data-error="Cannot enter value grater than the configured value and cannot enter value below 0." required />
															<div class=" help-block with-errors"></div>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label for="booksFee"><b>Books</b></label> <input type="number" step="0.01" th:field="*{collectAdmissionFeeForm.booksFee}" th:max="*{collectAdmissionFeeForm.booksFee}" th:min="0" class="form-control"
																data-error="Cannot enter value grater than the configured value and cannot enter value below 0." required />
															<div class=" help-block with-errors"></div>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label for="noteBooksFee"><b>Note Books</b></label> <input type="number" step="0.01" th:field="*{collectAdmissionFeeForm.noteBooksFee}" th:max="*{collectAdmissionFeeForm.noteBooksFee}" th:min="0" class="form-control"
																data-error="Cannot enter value grater than the configured value and cannot enter value below 0." required />
															<div class=" help-block with-errors"></div>
														</div>
													</div>
												</div>
												<br />
												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label for="computerFee"><b>Computer</b></label> <input type="number" step="0.01" th:field="*{collectAdmissionFeeForm.computerFee}" th:max="*{collectAdmissionFeeForm.computerFee}" th:min="0" class="form-control"
																data-error="Cannot enter value grater than the configured value and cannot enter value below 0." required />
															<div class=" help-block with-errors"></div>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label for="uniformBeltFee"><b>Uniform & Belt</b></label> <input type="number" step="0.01" th:field="*{collectAdmissionFeeForm.uniformBeltFee}" th:max="*{collectAdmissionFeeForm.uniformBeltFee}" th:min="0" class="form-control"
																data-error="Cannot enter value grater than the configured value and cannot enter value below 0." required />
															<div class=" help-block with-errors"></div>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label for="extraCurricularFee"><b>Extra-Curricular</b></label> <input type="number" step="0.01" th:field="*{collectAdmissionFeeForm.extraCurricularFee}" th:max="*{collectAdmissionFeeForm.extraCurricularFee}" th:min="0"
																class="form-control" data-error="Cannot enter value grater than the configured value and cannot enter value below 0." required />
															<div class=" help-block with-errors"></div>
														</div>
													</div>
												</div>
												<br />
												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label for="shoeFee"><b>Shoe</b></label> <input type="number" step="0.01" th:field="*{collectAdmissionFeeForm.shoeFee}" th:max="*{collectAdmissionFeeForm.shoeFee}" class="form-control" th:min="0"
																data-error="Cannot enter value grater than the configured value and cannot enter value below 0." required />
															<div class=" help-block with-errors"></div>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label for="smartClassFee"><b>Smart Class</b></label> <input type="number" step="0.01" th:field="*{collectAdmissionFeeForm.smartClassFee}" th:max="*{collectAdmissionFeeForm.smartClassFee}" th:min="0" class="form-control"
																data-error="Cannot enter value grater than the configured value and cannot enter value below 0." required />
															<div class=" help-block with-errors"></div>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label for="hostelFee"><b>Hostel</b></label> <input type="number" step="0.01" th:field="*{collectAdmissionFeeForm.hostelFee}" th:max="*{collectAdmissionFeeForm.hostelFee}" th:min="0" class="form-control"
																data-error="Cannot enter value grater than the configured value and cannot enter value below 0." required />
															<div class=" help-block with-errors"></div>
														</div>
													</div>
												</div>
												<br />
												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label th:text="${collectFee.particular1Label}"></label> <input type="number" step="0.01" th:field="*{collectAdmissionFeeForm.particular1Fee}" class="form-control" th:max="*{collectAdmissionFeeForm.particular1Fee}" th:min="0"
																data-error="Cannot enter value grater than the configured value and cannot enter value below 0." required />
															<div class=" help-block with-errors"></div>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label th:text="${collectFee.particular2Label}"></label> <input type="number" step="0.01" th:field="*{collectAdmissionFeeForm.particular2Fee}" class="form-control" th:max="*{collectAdmissionFeeForm.particular2Fee}" th:min="0"
																data-error="Cannot enter value grater than the configured value and cannot enter value below 0." required />
															<div class=" help-block with-errors"></div>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label th:text="${collectFee.particular3Label}"></label><input type="number" step="0.01" th:field="*{collectAdmissionFeeForm.particular3Fee}" class="form-control" th:max="*{collectAdmissionFeeForm.particular3Fee}" th:min="0"
																data-error="Cannot enter value grater than the configured value and cannot enter value below 0." required />
															<div class=" help-block with-errors"></div>
														</div>
													</div>
												</div>
											</div>
											<!-- Modal Body Ends -->
											<!-- Modal Footer -->
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												<button id="admSubmit" type="submit" name="action" value="SubmitAdm" class="btn btn-primary block full-width m-b">Submit</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal for admission -->

								<!-- Modal for term 1 -->
								<div class="modal fade" id="modalForTerm1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<!-- Modal Header -->
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
												</button>
												<h4 class="modal-title" id="myModalLabel">Collect Term-1 Fee</h4>
												<h6>
													For <span th:text="${collectFee.collectTermFeeForm.name}"></span> studying in class <span th:text="${collectFee.collectTermFeeForm.std}"></span> and section <span th:text="${collectFee.collectTermFeeForm.sec}"></span>
												</h6>
												<input type="hidden" th:value="${collectFee.collectTermFeeForm.name}" name="T1name" /> <input type="hidden" th:value="${collectFee.collectTermFeeForm.std}" name="T1std" /> <input type="hidden"
													th:value="${collectFee.collectTermFeeForm.sec}" name="T1sec" />
											</div>

											<!-- Modal Body -->
											<div class="modal-body">
												<div class="form-group">
													<label for="term1Fee"><b>Term-1 Fee</b></label> <input type="number" step="0.01" th:field="*{collectTermFeeForm.term1}" th:max="*{collectTermFeeForm.term1}" th:min="0" class="form-control"
														data-error="Cannot enter value grater than the configured value and cannot enter value below 0." required />
													<div class=" help-block with-errors"></div>
												</div>
											</div>

											<!-- Modal Footer -->
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												<button id="term1Submit" type="submit" name="action" value="SubmitTerm1" class="btn btn-primary block full-width m-b">Submit</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal for term 1 -->

								<!-- Modal for term 2 -->
								<div class="modal fade" id="modalForTerm2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<!-- Modal Header -->
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
												</button>
												<h4 class="modal-title" id="myModalLabel">Collect Term-2 Fee</h4>
												<h6>
													For <span th:text="${collectFee.collectTermFeeForm.name}"></span> studying in class <span th:text="${collectFee.collectTermFeeForm.std}"></span> and section <span th:text="${collectFee.collectTermFeeForm.sec}"></span>
												</h6>
												<input type="hidden" th:value="${collectFee.collectTermFeeForm.name}" name="T2name" /> <input type="hidden" th:value="${collectFee.collectTermFeeForm.std}" name="T2std" /> <input type="hidden"
													th:value="${collectFee.collectTermFeeForm.sec}" name="T2sec" />
											</div>

											<!-- Modal Body -->
											<div class="modal-body">
												<div class="form-group">
													<label for="term2Fee"><b>Term-2 Fee</b></label> <input type="number" step="0.01" th:field="*{collectTermFeeForm.term2}" th:max="*{collectTermFeeForm.term2}" th:min="0" class="form-control"
														data-error="Cannot enter value grater than the configured value and cannot enter value below 0." required />
													<div class=" help-block with-errors"></div>
												</div>
											</div>

											<!-- Modal Footer -->
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												<button id="term2Submit" type="submit" name="action" value="SubmitTerm2" class="btn btn-primary block full-width m-b">Submit</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal for term 2 -->
								<!-- Modal for term 3 -->
								<div class="modal fade" id="modalForTerm3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<!-- Modal Header -->
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
												</button>
												<h4 class="modal-title" id="myModalLabel">Collect Term-3 Fee</h4>
												<h6>
													For <span th:text="${collectFee.collectTermFeeForm.name}"></span> studying in class <span th:text="${collectFee.collectTermFeeForm.std}"></span> and section <span th:text="${collectFee.collectTermFeeForm.sec}"></span>
												</h6>
												<input type="hidden" th:value="${collectFee.collectTermFeeForm.name}" name="T3name" /> <input type="hidden" th:value="${collectFee.collectTermFeeForm.std}" name="T3std" /> <input type="hidden"
													th:value="${collectFee.collectTermFeeForm.sec}" name="T3sec" />
											</div>

											<!-- Modal Body -->
											<div class="modal-body">
												<div class="form-group">
													<label for="term3Fee"><b>Term-3 Fee</b></label> <input type="number" step="0.01" th:field="*{collectTermFeeForm.term3}" th:max="*{collectTermFeeForm.term3}" th:min="0" class="form-control"
														data-error="Cannot enter value grater than the configured value and cannot enter value below 0." required />
													<div class=" help-block with-errors"></div>
												</div>
											</div>

											<!-- Modal Footer -->
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												<button id="term3Submit" type="submit" name="action" value="SubmitTerm3" class="btn btn-primary block full-width m-b">Submit</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal for term 3 -->
							</div>
						</div>
					</form>


				</div>
			</div>
		</div>
		<!-- //inner_content-->
	</div>
	<!-- banner -->
	<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
		<input hidden type="submit" value="Sign Out" />
	</form>
	<!--copy rights start here-->
	<div class="copyrights">
		© 2018 Schools360. All Rights Reserved | Design by <a href="http://epyloc.com/" target="_blank">epyloc</a>
	</div>
	<!--copy rights end here-->
	<!-- js -->
	<script th:src="@{js/classie.js}"></script>
	<script th:src="@{js/gnmenu.js}"></script>
	<script>
		new gnMenu(document.getElementById('gn-menu'));
	</script>
	<script th:src="@{js/screenfull.js}"></script>

	<script>
		$(function() {
			$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);
			if (!screenfull.enabled) {
				return false;
			}
			$('#toggle').click(function() {
				screenfull.toggle($('#container')[0]);
			});
		});
	</script>
	<script>
		$('#std').change(
				function() {

					if ($('#std').val() == 'NA') {
						alert("Please submit standard!");
						return;
					}
					$('#sec').empty();
					$('#name').empty();
					if ($('#reloadDecider').val() == 'T') {
						/* window.location.replace("http://localhost:8080/collectFee"); */
					}

					$.getJSON("http://localhost:8080/getSecByStd", {
						std : $(this).val(),
						ajax : 'true'
					}, function(data) {
						var html = '<option value="NA">--Sec--</option>';
						var len = data.length;
						for (var i = 0; i < len; i++) {
							html += '<option value="' + data[i] + '">'
									+ data[i] + '</option>';
						}
						html += '</option>';
						$('#sec').html(html);
					});
				});

		$('#sec')
				.change(
						function() {
							if ($('#sec').val() == 'NA') {
								alert("Please submit section!");
								return;
							}

							$
									.getJSON(
											"http://localhost:8080/getListOfStudentsByStdAndSec",
											{
												std : $('#std').val(),
												sec : $(this).val(),
												ajax : 'true'
											},
											function(data) {
												var html = '<option value="NA">--Name--</option>';
												var len = data.length;
												for (var i = 0; i < len; i++) {
													html += '<option value="' + data[i] + '">'
															+ data[i]
															+ '</option>';
												}
												html += '</option>';
												$('#name').html(html);
											});
						});

		$("#admSubmit").click(function() {
			var c = confirm("Proceed with this fee?");
			return c;
		});
		
		$("#term1Submit").click(function() {
			var c = confirm("Proceed with this fee?");
			return c;
		});
		
		$("#term2Submit").click(function() {
			var c = confirm("Proceed with this fee?");
			return c;
		});
		
		$("#term3Submit").click(function() {
			var c = confirm("Proceed with this fee?");
			return c;
		});
		
		$('form input').on('keypress', function(e) {
		    return e.which !== 13;
		});

		/* 	$('#name').change(function() {
				$.getJSON("http://localhost:8080/populateCollectFee", {
					std : $('#std').val(),
					sec : $('#sec').val(),
					name : $(this).val(),
					ajax : 'true'
				}, function(data) {
					$('#booksFee').val(data.collectAdmissionFee.booksFee)
				});
			}); */
	</script>
	<script th:src="@{js/bars.js}"></script>
	<script th:src="@{js/jquery.nicescroll.js}"></script>
	<script th:src="@{js/scripts.js}"></script>

	<!-- Bootstrap -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- Bootstrap Validator plugin -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
</body>
</html>
